body {
    background-color: black;
    background-image: url('/static/images/background.jpg');
    background-size: 100% auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.loginViewRow {
    margin: 15% 0 0 0;
}

.loginPanel {
    opacity: 0.9;
}

.clickable {
    cursor: pointer;
}
